.body {
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-top: 5px;
    background-color: rgb(204, 212, 212);
}

.salat__table {
    width: 50%;
    background-color: rgb(243, 239, 239);
}

.row {
    display: flex;
    flex-direction: row;
    height: 30px;
    border: "1px solid green";
    margin: 1;
    padding: 0;
    width: 400px
}
