.body {
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-top: 5px;
    background-color: rgb(204, 212, 212);
}

.salat__table {
    width: 50%;
    background-color: rgb(243, 239, 239);
}